body { 
    font-family: Arial, sans-serif; 
    margin: 0; padding: 0; 
    background: url(assets/christmas-background-layout-black-background_1303-12736.avif) no-repeat center center fixed; 
    background-size: cover;
} 
footer { 
    background-color: #333; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    position: sticky; 
    top: 0; width: 100%; 
} 
header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #f8f8f8; 
    padding: 10px 20px; 
} 
header h1 { 
    margin: 0; 
} header nav a { 
    margin-left: 20px; 
    text-decoration: none; 
    color: #333; 
} 
main { 
    padding: 20px; 
} 
button img { 
    width: 20px; 
    height: 20px; 
}