
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(assets/christmas-background-layout-black-background_1303-12736.avif);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}
header, footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}
.content {
    flex: 1;
    padding: 20px;
    color: rgb(235, 223, 223);
    
}
.nav-button {
    margin: 5px;
}